@model Airline.Data.Entities.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <div class="col-sm-6">
    
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Origin.Name)
        </dd>
         <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Destination.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Day)
        </dd>@*
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Time)
        </dd>*@
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AirshipName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AirshipName.AirshipName)
        </dd>

        <dt class="col-sm-4">
            Tickets:
        </dt>
        <dd class="col-sm-8">
            
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AirshipName.model.Tickets1stClass) Stock
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AirshipName.model.Tickets1stClass)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AirshipName.model.TicketsBusiness) Stock
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AirshipName.model.TicketsBusiness)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AirshipName.model.TicketsPremiumEconomy) Stock
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AirshipName.model.TicketsPremiumEconomy)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AirshipName.model.TicketsEconomy) Stock
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AirshipName.model.TicketsEconomy)
        </dd>


        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Price1stClass)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Price1stClass)€
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PriceBusiness)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PriceBusiness)€
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PricePremiumEconomy)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PricePremiumEconomy)€
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PriceEconomy)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PriceEconomy)€
        </dd>
    </dl>
    <div>
       @* <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>*@
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
    </div>
    <div class="col-md-6">
        <span class="seatTitle">Available Seats:</span>
        <br />
        <span class="seatTitle">1st Class: <b style="background-color: dodgerblue">Blue</b> </span>
        <br />
        <span class="seatTitle">Business Class: <b style="background-color: forestgreen"> Green</b> </span>
        <br />
        <span class="seatTitle">Premium Economy: <b style="background-color: greenyellow"> Yellow</b> </span>
        <br />
        <span class="seatTitle">Economy: <b style="background-color: orange"> Orange</b> </span>
        <br />
        <span class="seatTitle">Unavailable: <b style="background-color: grey" >Grey</b> </span>
        <br />
        <div class="plane">

            
            <div>
                
                @foreach (var item in Model.Seatss.OrderBy(p => p.Classe.Id).ThenBy(p => p.Name))
                {
                    if (item.Available == true)
                    {
                        if (item.Classe.Class == "1st Class")
                        {
                            <span class="seat1st">@item.Name</span>
                        }
                        if (item.Classe.Class == "Business Class")
                        {
                            <span class="seatBusiness">@item.Name</span>
                        }
                        if (item.Classe.Class == "Premium Economy Class")
                        {
                            <span class="seatPremium">@item.Name</span>
                        }
                        if (item.Classe.Class == "Economy Class")
                        {
                            <span class="seatEconomy">@item.Name</span>
                        }
                        
                    }
                    else
                    {
                        <span class="seatNotAvailable">@item.Name</span>
                    }

                    
                }

            </div>


        </div>
    </div>
</div>









